# dependencies
node_modules
.pnpm-store

# build output
.next
dist
coverage
*.tsbuildinfo
apps/web/.next-e2e/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# uploads
uploads/
apps/api/uploads/
apps/api/test-uploads/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# prisma
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal

# editor / system
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json